<!DOCTYPE html>
<html lang="ru">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Mishka</title>
		<link rel="stylesheet" href="css/style.min.css">
	</head>

	<body>
		<div class="page">
			<header class="page-header">
				<a href="index.html">
					<img class="page-header__logo" src="img/mobile/mishka-logo-mobile.svg" width="86" height="35" alt="Логотип Магазин Мишка.">
				</a>
				<button class="page-header__menu" type="button">
					<span class="visually-hidden">Открыть меню</span>
				</button>
			</header>

			{% block main %}{% endblock %}

			<footer class="page-footer">
				<div class="page-footer__social">
					<ul class="page-footer__list social-list">
						<li class="social-list__item">
							<a class="social-list__link">Vk</a>
						</li>
						<li class="social-list__item">
							<a class="social-list__link">YouTube</a>
						</li>
						<li class="social-list__item">
							<a class="social-list__link">Telegram</a>
						</li>
					</ul>
				</div>
				<div class="page-footer__copyright">
					<p class="page-footer__copyright-content">
						Разработано
						<img src="#" width="27" height="35" alt="Логотип .html academy.">
					</p>
				</div>
			</footer>
		</div>

		{% include 'base/scripts.twig' %}

	</body>
</html>
