.contacts {
  position: relative;
  padding-top: 44px;

  @media (min-width: 768px) {
    padding-top: 120px;
  }

  @media (min-width: 1150px) {
    display: grid;
    grid-template-columns: 524px 527px;
    margin-top: 40px;
    padding: 0 50px;
    padding-top: 120px;
  }
}

.contacts::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1;
  height: 6px;
  background-image: url("../img/mobile/icons/zigzag.svg");
  background-size: 320px 6px;
}

.contacts__heading {
  margin: 0;
  margin-bottom: 24px;
  padding: 0 30px;
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  color: #000000;

  @media (min-width: 768px) {
    padding: 51px 122px 22px 50px;
    font-size: 43px;
    line-height: 50px;

    background-image: url("../img/tablet/flag.svg");
    background-repeat: no-repeat;
    background-position: top 29px right 53px;
  }

  @media (min-width: 1150px) {
    width: 291px;
    font-size: 53px;
    line-height: 57px;
  }
}

.contacts__table {
  margin-bottom: 60px;
  padding: 0 30px;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  vertical-align: top;
  color: #444444;

  @media (min-width: 768px) {
    padding: 0 45px;
  }

  @media (min-width: 1150px) {
    grid-row: 2 / 2;
  }
}

.table {
  margin-bottom: 34px;

  @media (min-width: 768px) {
    width: 668px;
    font-weight: 400;
    font-size: 17px;
    line-height: 30px;
    color: #444444;
  }
}

.table__tbody {
  @media (min-width: 768px) {
    display: flex;
  }

  @media (min-width: 1150px) {
    display: block;
  }
}

.table__data {
  padding-top: 27px;
  vertical-align: top;

  @media (min-width: 768px) {
    padding-top: 0;
  }
}

.table__td--indent {
  padding-top: 27px;
  padding-bottom: 27px;

  @media (min-width: 768px) {
    padding: 0;
  }
}

.table__email--decorated {
  display: inline;
  padding-bottom: 2px;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  color: #444444;
  text-decoration: none;
  border-bottom: 1px solid #62d1ba;

  @media (min-width: 768px) {
    font-size: 17px;
  }
}

.table__td--small {
  width: 76px;
}

.table__td--large {
  width: 183px;
}

.contacts__address {
  margin-bottom: 35px;
}

.contacts__link {
  width: 260px;
  margin: 0 30px;
  padding: 14px 24px;

  @media (min-width: 768px) {
    width: 230px;
    margin-right: auto;
    margin-left: auto;
  }

  @media (min-width: 1150px) {
    grid-row: 3;
  }
}
