.page-footer {
  margin-top: 41px;
  background-color: #f1f1f1;

  @media (min-width: 768px) {
    margin-top: 78px;
  }
}

.social-list {
  display: flex;
  justify-content: space-between;
  width: 142px;
  height: 27px;
  margin: 0 auto;
  padding: 25px 59px 28px;
  list-style: none;
}

.social-list__link {
  position: relative;
  display: flex;
  width: 28px;
  height: 22px;
}

.social-list__link::before {
  content: "";
  width: 28px;
  height: 22px;
  margin: auto;
  background-repeat: no-repeat;
}

.social-list__link--vk::before {
  background-image: url("../img/mobile/icons/vkontakte.svg");
}

.social-list__link--youtube::before {
  background-image: url("../img/mobile/icons/youtube.svg");
}

.social-list__link--telegram::before {
  background-image: url("../img/mobile/icons/telegram.svg");
}

.page-footer__copyright-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 19px 69px 23px;
  font-weight: 700;
  font-size: 19px;
  line-height: 18px;
  color: #000000;
}

.page-footer__copyright-logo {
  position: relative;
  top: 2px;
}
