.filters__heading {
  margin: 0;
  padding: 73px 10px 74px;
  font-weight: 700;
  font-size: 27px;
  line-height: 30px;
  text-align: center;
  color: #000000;
  background: #f1f1f1;
}

.filters__text {
  margin: 17px 30px 0;
  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
  color: #444444;
}

.filters__form {
  margin-top: 29px;
}

.filters__fieldset {
  margin: 0 30px;
  padding: 0;
  border: none;
  border-top: 1px solid #62d1ba;
}

.filters__legend {
  margin-bottom: 31px;
  padding-right: 20px;
  font-weight: 700;
  font-size: 17px;
  line-height: 16px;
  color: #63d1bb;
  text-transform: uppercase;
}

.filters__inner {
  display: flex;
  margin: 0;
  margin-bottom: 13px;
}

.filters__inner--indent {
  margin-bottom: 33px;
}

.filters__radio {
  display: flex;
  flex-shrink: 0;
  box-sizing: border-box;
  width: 40px;
  height: 40px;
  margin: 0;
  margin-right: 20px;
  border: 2px solid #444444;
  border-radius: 50%;
  cursor: pointer;
}

.filters__radio:hover {
  border-color: #62d1ba;
}

.filters__radio:hover:active {
  border-color: rgba(0, 0, 0, 0.3);
}

.filters__radio:checked::before {
  content: "";
  box-sizing: border-box;
  width: 16px;
  height: 16px;
  margin: auto;
  background-color: #62d1ba;
  border-radius: 50%;
}

.filters__radio,
.filters__checkbox {
  appearance: none;
}

.filters__radio-label {
  margin-top: 4px;
  font-weight: 700;
  font-size: 17px;
  line-height: 18px;
  color: #000000;
}

.filters__radio-label--indent {
  margin-top: 10px;
}

.filters__checkbox {
  position: relative;
  display: flex;
  width: 38px;
  height: 38px;
  margin: 0;
  margin-right: 23px;
  border: 2px solid #444444;
}

.filters__checkbox-inner {
  display: flex;
  align-items: center;
  margin: 0;
  margin-bottom: 23px;
}

.filters__checkbox-indent {
  margin-bottom: 33px;
}

.filters__checkbox:hover {
  border-color: #62d1ba;
}

.filters__checkbox:checked::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 38px;
  height: 38px;
  background-image: url("../img/mobile/checkbox.svg");
  background-position: 50% 50%;
}

.filters__checkbox-label {
  font-weight: 700;
  font-size: 17px;
  line-height: 18px;
  color: #000000;
}

.filters__legend--indent {
  margin-bottom: 24px;
}

.filters__fln {
  display: flex;
  flex-direction: column;
}

.filters__label-fln {
  font-weight: 700;
  font-size: 17px;
  line-height: 18px;
  color: #000000;
}

.filters__input-text {
  margin-bottom: 24px;
  padding: 17px 10px 15px 0;
  border: none;
  border-bottom: 2px solid #000000;
  outline: none;
}

.filters__input-text::placeholder,
.filters__tel::placeholder {
  font-weight: 400;
  font-size: 17px;
  line-height: 18px;
  color: #000000;
}

.filters__input-text:hover,
.filters__input-text:focus {
  border-color: #62d1ba;
}

.filters__tel-wrap {
  margin-top: 10px;
}

.filters__legend-tel {
  margin-bottom: 6px;
}

.filters__tel,
.filters__email {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  padding: 17px 10px 15px 0;
  background-repeat: no-repeat;
  border: none;
  border-bottom: 2px solid #000000;
  outline: none;
}

.filters__tel {
  background-image: url("../img/mobile/icons/phone.svg");
  background-position: 229px 10px;
}

.filters__email {
  margin-bottom: 34px;
  font-weight: 400;
  font-size: 17px;
  line-height: 18px;
  color: #000000;
  background-image: url("../img/mobile/icons/mail.svg");
  background-position: 225px 19px;
  outline: none;
}

.filters__email-indent {
  margin-top: 34px;
}

.email__indent {
  margin-bottom: 2px;
}

.filters__textarea {
  display: block;
  box-sizing: border-box;
  width: 260px;
  height: 142px;
  margin-bottom: 16px;
  padding: 17px 17px 89px 17px;
  font-weight: 400;
  font-size: 17px;
  line-height: 18px;
  color: #000000;
  background: #ffffff;
  border: 2px solid #444444;
  outline: none;
}

.filters__tel:hover,
.filters__email:hover,
.filters__textarea:hover {
  border-color: #62d1ba;
}

.textarea-legend {
  margin-bottom: 22px;
}

.filters__textarea-info {
  margin: 0;
  margin-bottom: 31px;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #444444;
}

.filters__form-submit {
  display: block;
  margin: 0 30px;
  padding: 16px 44px;
  font-weight: 700;
  font-size: 17px;
  line-height: 16px;
  text-align: center;
  color: #444444;
  text-transform: uppercase;
  background: #ffffff;
  border: 2px solid #444444;
  cursor: pointer;
}
