body {
  min-width: 320px;
  margin: 0;
  font-family: "Open Sans", "Arial", sans-serif;
}

.page {
  display: grid;
  grid-template-rows: min-content 1fr min-content;

  @media (min-width: 1150px) {
    max-width: 1150px;
    margin-right: auto;
    margin-left: auto;
  }
}

.page__footer {
  margin-top: auto;
}

picture,
source {
  display: contents;
}
