.contacts {
  padding: 44px 26px 0;
}

.contacts__heading {
  margin: 0;
  margin-bottom: 24px;
  margin-left: 3px;
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  color: #000000;
}

.contacts__table {
  margin-bottom: 60px;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  color: #444444;
}

.td-indent {
  padding-bottom: 27px;
}

.td-important {
  text-decoration: underline;
  text-decoration-color: #62d1ba;
}

.table-td__small {
  width: 76px;
}

.table-td__large {
  width: 183px;
}

.table-td__indent {
  padding-top: 27px;
}
