.promo {
  background-image: url("../img/mobile/promo-bg.jpg");
  background-repeat: no-repeat;
  background-position: 0 -22px;
}

.promo__heading {
  margin: 0;
  margin-bottom: 56px;
  padding: 67px 30px 65px;
  font-weight: 700;
  font-size: 27px;
  line-height: 30px;
  text-align: center;
  color: #000000;
}

.promo__products-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.promo__products-item {
  position: relative;
  padding: 24px 160px 31px 30px;
  font-weight: 700;
  font-size: 19px;
  line-height: 24px;
  color: #ffffff;
}

.promo__products-item--normal {
  background-color: #63d1bb;
}

.bg-element::after {
  content: "";
  position: absolute;
  top: 23px;
  right: 36px;
  width: 40px;
  height: 62px;
  background-image: url("../img/mobile/icons/interior.svg");
}

.promo__products-item--accent {
  background-color: #56c3b2;
}

.bg-element-another::after {
  content: "";
  position: absolute;
  top: 21px;
  right: 27px;
  width: 60px;
  height: 60px;
  background-image: url("../img/mobile/icons/toy.svg");
}
