.reviews {
  padding: 0 30px;
  padding-bottom: 45px;
}

.reviews__heading {
  margin: 0;
  margin-bottom: 14px;
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  color: #000000;
}

.reviews__list {
  margin: 0;
  margin-bottom: 30px;
  padding: 0;
  list-style: none;
}

.reviews__button-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.reviews__text {
  margin: 0;
  margin-bottom: 33px;
  font-size: 15px;
  line-height: 30px;
  color: #444444;
}

.reviews__author {
  margin: 0;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  color: #000000;
}

.reviews__author-contact {
  display: block;
  margin-top: 3px;
  font-weight: 400;
  font-size: 17px;
  line-height: 30px;
  color: #444444;
}

.reviews__prev,
.reviews__next {
  width: 129px;
  height: 52px;
  padding: 0;
  background: #ffffff;
  border: 1px solid #ececec;
  cursor: pointer;
}

.reviews__prev {
  background-image: url("../img/mobile/icons/arrow-left.svg");
  background-repeat: no-repeat;
  background-position: 48% 50%;
}

.reviews__next {
  background-image: url("../img/mobile/icons/arrow-right.svg");
  background-repeat: no-repeat;
  background-position: 48% 50%;
}

.reviews__new {
  width: 260px;
  margin-top: 38px;
  padding: 14px 28px;
}
