.products_heading {
  margin: 0;
  margin-bottom: 30px;
  padding-top: 73px;
  padding-bottom: 74px;
  font-weight: 700;
  font-size: 27px;
  line-height: 30px;
  text-align: center;
  color: #000000;
  background-color: #f1f1f1;
}

.products__list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0 30px;
  list-style: none;
}

.products__item {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}

.products__item-wrapper {
  padding: 0 28px;
  border: 1px solid #ececec;
}

.products__heading {
  margin: 0;
  margin-top: 27px;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  color: #000000;
}

.products__attributes {
  margin: 0;
  margin-top: 7px;
  margin-bottom: 16px;
  font-weight: 400;
  font-size: 13px;
  line-height: 30px;
  color: #444444;
}

.products__buy {
  width: 204px;
  border-top: 1px solid #ececec;
}

.products__price {
  margin: 0;
  margin-top: 22px;
  margin-bottom: 26px;
  font-weight: 700;
  font-size: 15px;
  line-height: 24px;
  color: #000000;
}

.products__cart-link {
  position: relative;
}

.products__cart-link::after {
  content: "";
  position: absolute;
  top: -2px;
  left: 111px;
  width: 20px;
  height: 19px;
  background-image: url("../img/mobile/icons/cart.svg");
  background-repeat: no-repeat;
}
